body {
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Myriad Pro';
    background-color: #FE4F00;
    color: #FFFFFF;
}

.post {
    font-family: 'Myriad Pro';
    background-color: #FE4F00;
    color: #FFFFFF;
}

h1 a {
    color: #FFFFFF;
}

